<div class="block active">
    <h1>Welcome to codedamn!</h1>

    <p>We've a few questions for you before you start. These will enable us to serve you better and relevant content.</p>

    <div class="button">Let's Go</div>
</div>

<div class="block qblock">
    <h1>Have you ever done programming before?</h1>
    <div class="options" data-name="doneprogrammingbefore">
        <div class="option">Yes</div>
        <div class="option" data-exit="1">No</div>
    </div>

    <div class="button">Next</div>
</div>

<div class="block qblock">
    <h1>Choose some languages which interest you (if any)</h1>
    <div class="options" data-name="tags">
        <div class="option multiple">HTML/CSS</div>
        <div class="option multiple">JavaScript</div>
        <div class="option multiple">PHP</div>
        <div class="option multiple">Java</div>
        <div class="option multiple">Python</div>
        <div class="option multiple">Perl</div>
        <div class="option multiple">C</div>
        <div class="option multiple">C++</div>
        <div class="option multiple">Ruby</div>
        <div class="option multiple">Lua</div>
    </div>

    <div class="button">Next</div>
</div>

<div class="block">
    <h1>Done!</h1>
    <p>That's all we needed to know. Let's get started.</p>
    <div class="button" onclick="location.href='/panel'">Let's Go</div>
</div>