{{>stickyheader}}

<div class="contact-form">
	<form class="contact_form" action="/login" method="post" name="contact_form">
		<h1>Login Into Your Account</h1>
		{{#if error}}<div id='error'>Incorrect username/password</div>{{/if}}
	    <ul>
	        <li>
	            <input type="text" class="textbox1" name="username" placeholder="codedamn" autocomplete="off">
	             <p><img src="/assets/images/png/contact.png" alt=""></p>
	        </li>
	        <li>
	            <input type="password" name="password" class="textbox2" placeholder="!m1337">
	            <p><img src="/assets/images/png/lock.png" alt=""></p>
	        </li>
         </ul>
       	 	<input type="submit" name="Sign In" value="Sign In">
		<div class="forgot">
			<a href="#">forgot password?</a>
		</div>
		<div class="register">
			<a href="/register">Register an account</a>
		</div>
		<div class="clear"></div>
	</form>
<div class="account">
    <div class="span"><a href="#"><img src="/assets/images/png/facebook.png" alt=""><i>Sign In with Facebook</i><div class="clear"></div></a></div>
    <div class="span1"><a href="#"><img src="/assets/images/png/twitter.png" alt=""><i>Sign In with Twitter</i><div class="clear"></div></a></div>
    <div class="span2"><a href="#"><img src="/assets/images/png/gplus.png" alt=""><i>Sign In with Google+</i><div class="clear"></div></a></div>
</div>
</div>